<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LTEGamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LTEGamer.Properties.Settings>
            <setting name="xmlAppList" serializeAs="String">
                <value />
            </setting>
            <setting name="downloadSpeed" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="downloadFile" serializeAs="String">
                <value>http://www.speedtestx.de/testfiles/data_5gb.test</value>
            </setting>
            <setting name="pingInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="pingAddress" serializeAs="String">
                <value>213.94.72.88</value>
            </setting>
            <setting name="activeWorkaround" serializeAs="String">
                <value>pingflooder</value>
            </setting>
            <setting name="startMinimized" serializeAs="String">
                <value>False</value>
            </setting>
        </LTEGamer.Properties.Settings>
    </userSettings>
</configuration>